<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="/app/main.css">
  </head>
  <body>
    <div class="ranking" ng-controller="mainCtrl">
      <div class="container">
        <p>Ranking</p>
        <div class="winners">
          <div class="contestant" ng-repeat="contestant in top">
            <span>{{ contestant.nick }}</span>
            <span>{{ contestant.position }}</span>
          </div>
        </div>
        <div class="rest">
          <div class="contestant" ng-repeat="contestant in rest">
            <span>{{ contestant.nick }}</span>
            <span>{{ contestant.position }}</span>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="/node_modules/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="/app/main.js"></script>
  </body>
</html>
