<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta http-equiv="Access-Control-Allow-Origin" content="*"/>
    <link rel="stylesheet" type="text/css" href="/app/main.css">
  </head>
  <body ng-controller="mainCtrl">
    <img class="logo" src="app/images/coglogo.png" />
    <img class="challenge" src="app/images/challengebar.png" />
    <div class="animated-content">
      <div id="clouds">
        <div class="cloud x1"><img src="app/images/cloud_big.png" /></div>
        <div class="cloud x2"><img src="app/images/cloud_medium.png" /></div>
        <div class="cloud x3"><img src="app/images/cloud_small.png" /></div>
        <div class="cloud x4"><img src="app/images/cloud_small.png" /></div>
        <div class="cloud x5"><img src="app/images/cloud_small.png" /></div>
      </div>
      <div class="slide-1">
        <div class="text" ng-if="slide=='1'">
          <h1>¿Eres un genio en programación?</h1>
          <h2>¡DEMUÉSTRALO EN NUESTRO RETO Y GANA EL PREMIO!</h2>
        </div>
        <div class="ballon_text" ng-if="slide=='1'">
          <span>Para participar sólo es necesario introducir tu email.</span> ¡Compite por ser el más sabio en programación y gana el premio!
        </div>
        <div class="images">
          <img class="lightning1" ng-if="slide=='1'" src="app/images/lightning1.png" />
          <img class="lightning2" ng-if="slide=='1'" src="app/images/lightning2.png" />
          <img class="lightning3" ng-if="slide=='1'" src="app/images/lightning3.png" />
          <img class="wizard" ng-if="slide=='1'" src="app/images/wizard.png" />
        </div>
      </div>
      <div class="slide-2">
        <div class="text" ng-if="slide=='2'">              
          <h1>¡Solo necesitas 90 segundos!</h1>
          <h2 class="white">Y PUEDES CONSEGUIR UN PREMIO INCREÍBLE</h2>
        </div>
        <div class="ballon_text" ng-if="slide=='2'">
          ¡Soy un jefazo en programación!
        </div>
        <div class="images">
          <img class="knight_set" ng-if="slide=='2'" src="app/images/knight_set.png" />
        </div>
      </div>
      <div class="slide-3">
        <div class="text" ng-if="slide=='3'">
          <h1>¡GANA UN DRONE!</h1>
          <h2>¡EL GANADOR SE ANUNCIARÁ EL 25 DE NOVIEMBRE A LAS 3.30PM! ¡SUERTE!</h2>
        </div>
        <div class="images">
          <img class="prize_coin" ng-if="slide=='3'" src="app/images/prize_coin.png" />
          <img class="prize_pipe" ng-if="slide=='3'" src="app/images/prize_pipe.png" />
        </div>
      </div>
    </div>
    <div class="ranking">
      <img class="clock" src="app/images/clock.png" />
      <div class="container">
        <p>Clasificación</p>
        <div class="winners">
          <div class="contestant score{{contestant.score}}" ng-repeat="contestant in top">
            <div>
              <span>{{ contestant.nick }}</span>
              <span>{{ contestant.score }}</span>
            </div>
            <span>{{ contestant.position }}</span>
          </div>
        </div>
        <img ng-class="{'vis-hidden': rankingLength<=10}" src="app/images/separator.png" />
        <div class="rest">
          <div class="contestant score{{contestant.score}}" ng-repeat="contestant in rest">
            <div>
              <span>{{ contestant.nick }}</span>
              <span>{{ contestant.score }}</span>
            </div>
            <span>{{ contestant.position }}</span>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="/node_modules/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="/app/main.js"></script>
  </body>
</html>
