/* font definition */

@font-face {
  font-family: 'Insterstate';
  src: url(fonts/INTH____.ttf);
  font-weight: 100;
}

@font-face {
  font-family: 'Insterstate';
  src: url(fonts/INTHI___.ttf);
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Insterstate';
  src: url(fonts/INTTH___.ttf);
  font-weight: 200;
}

@font-face {
  font-family: 'Insterstate';
  src: url(fonts/INTTHI__.ttf);
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Insterstate';
  src: url(fonts/INTELT__.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Insterstate';
  src: url(fonts/INTELTI_.ttf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Insterstate';
  src: url(fonts/INTLT___.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Insterstate';
  src: url(fonts/INTLTI__.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Insterstate';
  src: url(fonts/INTR____.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Insterstate';
  src: url(fonts/INTRI___.ttf);
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Insterstate';
  src: url(fonts/INTBD___.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Insterstate';
  src: url(fonts/INTBDI__.ttf);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Insterstate';
  src: url(fonts/INTBL___.ttf);
  font-weight: 800;
}

@font-face {
  font-family: 'Insterstate';
  src: url(fonts/INTBLI__.ttf);
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Insterstate';
  src: url(fonts/INTUBL__.ttf);
  font-weight: 900;
}

@font-face {
  font-family: 'Insterstate';
  src: url(fonts/INTUBLI_.ttf);
  font-weight: 900;
  font-style: italic;
}

/* styles */
html {
  font-family: 'Insterstate';
  background: url(images/background.png) no-repeat center center fixed;
  background-size: cover;
}

body img {
  margin: 3%;
}

div.ranking {
  position: absolute;
  width: 34%;
  height: 78%;
  top: 7%;
  right: 0;
  background-color: white;
}

div.ranking .container {
  height: 99%;
  margin-top: 10%;
  margin-left: 10%;
  color: white;
  background-color: rgb(0, 168, 231);
}

div.ranking .container p {
  text-align: right;
  padding: 5%;
  margin-bottom: 3%;
  font-size: 30px;
  font-weight: 800;
}

div.ranking .container .contestant {
  margin: 1.5% 5%;
  padding: 1% 2%;
  font-size: 24px;
  background-color: rgb(38, 182, 235);
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
}

div.ranking .container .winners .contestant:first-child {
  background-color: rgb(35, 213, 125);
}

div.ranking .container .winners .contestant {
  background-color: rgb(23, 200, 158);  
}

div.ranking .container .winners .contestant:last-child {
  background-color: rgb(14, 188, 189);  
}

div.ranking .container .contestant span:last-child {
  float: right;
}

div.ranking .container img {
  display: block;
  margin: auto;
  padding: 1%;
}

.rest .contestant {
  opacity: 1;
}
.rest .contestant.ng-enter {
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
}
.rest .contestant.ng-enter-active {
  opacity: 1;
}
