/* font definition */

@font-face {
  font-family: 'Insterstate';
  src: url(fonts/INTH____.ttf);
  font-weight: 100;
}

@font-face {
  font-family: 'Insterstate';
  src: url(fonts/INTHI___.ttf);
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Insterstate';
  src: url(fonts/INTTH___.ttf);
  font-weight: 200;
}

@font-face {
  font-family: 'Insterstate';
  src: url(fonts/INTTHI__.ttf);
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Insterstate';
  src: url(fonts/INTELT__.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Insterstate';
  src: url(fonts/INTELTI_.ttf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Insterstate';
  src: url(fonts/INTLT___.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Insterstate';
  src: url(fonts/INTLTI__.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Insterstate';
  src: url(fonts/INTR____.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Insterstate';
  src: url(fonts/INTRI___.ttf);
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Insterstate';
  src: url(fonts/INTBD___.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Insterstate';
  src: url(fonts/INTBDI__.ttf);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Insterstate';
  src: url(fonts/INTBL___.ttf);
  font-weight: 800;
}

@font-face {
  font-family: 'Insterstate';
  src: url(fonts/INTBLI__.ttf);
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Insterstate';
  src: url(fonts/INTUBL__.ttf);
  font-weight: 900;
}

@font-face {
  font-family: 'Insterstate';
  src: url(fonts/INTUBLI_.ttf);
  font-weight: 900;
  font-style: italic;
}

/* background */
html {
  font-family: 'Insterstate';
  background: url(images/background.png) no-repeat center center fixed;
  background-size: cover;
}

.logo {
  z-index: 9999;
  position: relative;
  margin: 3%;
}

.challenge {
  z-index: 9999;
  position: relative;
  width: 75px;
  margin-left: -6%;
  margin-bottom: 2.5%;
}

div.ranking {
  width: 34%;
}

div.animated-content {
  width: 66%;
}

/* clouds */
body {
	overflow: hidden; /* to hide the horizontal scroller appearing during the animation */
}

.x1 {
  margin-top: 35%;

	-webkit-animation: moveclouds 35s linear infinite;
	-moz-animation: moveclouds 35s linear infinite;
  -o-animation: moveclouds 35s linear infinite;
}

.x2 {
  margin-top: -20%;

  -webkit-animation: moveclouds 30s linear infinite;
	-moz-animation: moveclouds 30s linear infinite;
  -o-animation: moveclouds 30s linear infinite;
}

.x3 {
  margin-top: -15%;

	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);

  -webkit-animation: moveclouds 25s linear infinite;
  -moz-animation: moveclouds 25s linear infinite;
  -o-animation: moveclouds 25s linear infinite;
}

.x4 {
  margin-top: -21%;

	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);

  -webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
  -o-animation: moveclouds 20s linear infinite;
}

.x5 {
  margin-top: -22%;

	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	transform: scale(0.7);

  -webkit-animation: moveclouds 30s linear infinite;
	-moz-animation: moveclouds 30s linear infinite;
  -o-animation: moveclouds 30s linear infinite;
}

@-webkit-keyframes moveclouds {
	0% {margin-left: 120%;}
	100% {margin-left: -50%;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 120%;}
	100% {margin-left: -50%;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 120%;}
	100% {margin-left: -50%;}
}

/* texts */
.text h1 {
  font-size: 55px;
  font-weight: 800;
  line-height: 48px;
  margin-bottom: 0;
}

.text h2 {
  font-size: 30px;
  font-weight: 800;
  line-height: 30px;
  color: rgb(9,167,240);
  margin-top: 20px;
}

.text h2.white {
  color: white;
}

.ballon_text {
  font-size: 25px;
  font-weight: 500;
  background-color: white;
  padding: 1.5%;
  border-radius: 10px;
  z-index: 9999;
}

.ballon_text span {
  font-weight: 600;
  text-decoration: underline;
}

.slide-1 .ballon_text:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 15px solid;
  border-color: transparent transparent transparent white;
  top: 50%;
  left: 100%;
  margin-top: -15px;
}

.slide-1 .ballon_text {
  position: absolute;
  top: 57%;
  left: 11%;
  width: 25%;
  -webkit-transform: scale(1.0, 1.0);
  -moz-transform: scale(1.0, 1.0);
  -ms-transform: scale(1.0, 1.0);
  -o-transform: scale(1.0, 1.0);
  transform: scale(1.0,1.0);
}

.slide-1 .ballon_text.ng-enter {
  -webkit-transition: 1s;
  transition: 1s;
  left: 27%;
  transition-delay: 1s;

  -webkit-transform: scale(0.0, 1.0);
  -moz-transform: scale(0.0, 1.0);
  -ms-transform: scale(0.0, 1.0);
  -o-transform: scale(0.0, 1.0);
  transform: scale(0.0,1.0);
}
.slide-1 .ballon_text.ng-enter-active {
  left: 11%;
  
  -webkit-transform: scale(1.0, 1.0);
  -moz-transform: scale(1.0, 1.0);
  -ms-transform: scale(1.0, 1.0);
  -o-transform: scale(1.0, 1.0);
  transform: scale(1.0,1.0);
}
.slide-1 .ballon_text.ng-leave {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  left: 11%;
  
  -webkit-transform: scale(1.0, 1.0);
  -moz-transform: scale(1.0, 1.0);
  -ms-transform: scale(1.0, 1.0);
  -o-transform: scale(1.0, 1.0);
  transform: scale(1.0,1.0);
}
.slide-1 .ballon_text.ng-leave-active {
  left: 27%;

  -webkit-transform: scale(0.0, 1.0);
  -moz-transform: scale(0.0, 1.0);
  -ms-transform: scale(0.0, 1.0);
  -o-transform: scale(0.0, 1.0);
  transform: scale(0.0,1.0);
}

.slide-2 .ballon_text:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 15px solid;
  border-color: transparent white transparent transparent;
  top: 50%;
  right: 100%;
  margin-top: -15px;
}

.slide-2 .ballon_text {
  position: absolute;
  top: 29%;
  left: 32%;

  -webkit-transform: scale(1.0, 1.0);
  -moz-transform: scale(1.0, 1.0);
  -ms-transform: scale(1.0, 1.0);
  -o-transform: scale(1.0, 1.0);
  transform: scale(1.0,1.0);
}
.slide-2 .ballon_text.ng-enter {
  -webkit-transition: 1s;
  transition: 1s;
  left: 25%;
  transition-delay: 2s;

  -webkit-transform: scale(0.0, 1.0);
  -moz-transform: scale(0.0, 1.0);
  -ms-transform: scale(0.0, 1.0);
  -o-transform: scale(0.0, 1.0);
  transform: scale(0.0,1.0);
}
.slide-2 .ballon_text.ng-enter-active {
  left: 32%;
  
  -webkit-transform: scale(1.0, 1.0);
  -moz-transform: scale(1.0, 1.0);
  -ms-transform: scale(1.0, 1.0);
  -o-transform: scale(1.0, 1.0);
  transform: scale(1.0,1.0);
}
.slide-2 .ballon_text.ng-leave {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  left: 32%;
  
  -webkit-transform: scale(1.0, 1.0);
  -moz-transform: scale(1.0, 1.0);
  -ms-transform: scale(1.0, 1.0);
  -o-transform: scale(1.0, 1.0);
  transform: scale(1.0,1.0);
}
.slide-2 .ballon_text.ng-leave-active {
  left: 25%;

  -webkit-transform: scale(0.0, 1.0);
  -moz-transform: scale(0.0, 1.0);
  -ms-transform: scale(0.0, 1.0);
  -o-transform: scale(0.0, 1.0);
  transform: scale(0.0,1.0);
}

.slide-1 .text {
  position: absolute;
  top: 17%;
  left: 3%;
}

.slide-1 .text h1 {width: 70%;}
.slide-1 .text h2 {width: 60%;}

.slide-1 .text.ng-enter {
  -webkit-transition: 1s;
  transition: 1s;
  left: -100%;
}
.slide-1 .text.ng-enter-active {
  left: 3%;
}
.slide-1 .text.ng-leave {
  -webkit-transition: 1s;
  transition: 1s;
  left: 3%;
}
.slide-1 .text.ng-leave-active {
  left: -100%;
}

.slide-2 .text {
  position: absolute;
  top: 55%;
  left: 32%;
}

.slide-2 .text h1 {width: 60%;}
.slide-2 .text h2 {width: 55%;}

.slide-2 .text.ng-enter {
  -webkit-transition: 1s;
  transition: 1s;
  transition-delay: 1s;
  top: 100%;
}
.slide-2 .text.ng-enter-active {
  top: 55%;
}
.slide-2 .text.ng-leave {
  -webkit-transition: 1s;
  transition: 1s;
  top: 55%;
}
.slide-2 .text.ng-leave-active {
  top: 100%;
}

.slide-3 .text {
  text-align: center;
  position: absolute;
  top: 14%;
  left: 0;
  right: 34%;
  margin-left: auto;
  margin-right: auto;
  width: 24%;
}
/*
.slide-3 .text h1 {width: 60%;}
.slide-3 .text h2 {width: 60%;}
*/
.slide-3 .text.ng-enter {
  -webkit-transition: 1s;
  transition: 1s;
  transition-delay: 1s;
  top: -100%;
}
.slide-3 .text.ng-enter-active {
  top: 14%;
}
.slide-3 .text.ng-leave {
  -webkit-transition: 1s;
  transition: 1s;
  top: 14%;
}
.slide-3 .text.ng-leave-active {
  top: -100%;
}

/* images slide-1 */
.slide-1 .images .wizard {
  position: absolute;
  left: 42%;
  bottom: 0;
  resize: both;
  height: 70%;
}

.slide-1 .images .wizard.ng-enter {
  -webkit-transition: 1s;
  transition: 1s;
  bottom: -100%;
}
.slide-1 .images .wizard.ng-enter-active {
  bottom: 0;
}
.slide-1 .images .wizard.ng-leave {
  -webkit-transition: 1s;
  transition: 1s;
  bottom: 0;
}
.slide-1 .images .wizard.ng-leave-active {
  bottom: -100%;
}

.slide-1 .images .ballon_wizard {
  position: absolute;
  right: 60%;
  bottom: 20%;
  resize: both;
  width: 30%;
  height: 23%;
}

.slide-1 .images .ballon_wizard.ng-enter {
  -webkit-transition: 1s;
  transition: 1s;
  transition-delay: 1s;
  width: 0%;
}
.slide-1 .images .ballon_wizard.ng-enter-active {
  width: 30%;
}
.slide-1 .images .ballon_wizard.ng-leave {
  -webkit-transition: 1s;
  transition: 1s;
  width: 30%;
}
.slide-1 .images .ballon_wizard.ng-leave-active {
  width: 0%;
}

.slide-1 .images .lightning1 {
  position: absolute;
  left: 35%;
  bottom: 62%;
  resize: both;
  width: 6%;
}

.slide-1 .images .lightning1.ng-enter {
  -webkit-transition: 1s;
  transition: 1s;
  transition-delay: 1s;
  width: 0%;
  left: 43%;
  bottom: 62%;
}
.slide-1 .images .lightning1.ng-enter-active {
  width: 6%;
  left: 35%;
  bottom: 62%;
}
.slide-1 .images .lightning1.ng-leave {
  -webkit-transition: 1s;
  transition: 1s;
  width: 6%;
  left: 35%;
  bottom: 62%;
}
.slide-1 .images .lightning1.ng-leave-active {
  width: 0%;
  left: 43%;
  bottom: 62%;
}

.slide-1 .images .lightning2 {
  position: absolute;
  left: 38%;
  bottom: 68%;
  resize: both;
  height: 9%;
}

.slide-1 .images .lightning2.ng-enter {
  -webkit-transition: 1s;
  transition: 1s;
  transition-delay: 1s;
  height: 0%;
  left: 45%;
  bottom: 62%;
}
.slide-1 .images .lightning2.ng-enter-active {
  height: 9%;
  left: 38%;
  bottom: 68%;
}
.slide-1 .images .lightning2.ng-leave {
  -webkit-transition: 1s;
  transition: 1s;
  height: 9%;
  left: 38%;
  bottom: 68%;
}
.slide-1 .images .lightning2.ng-leave-active {
  height: 0%;
  left: 45%;
  bottom: 62%;
}

.slide-1 .images .lightning3 {
  position: absolute;
  left: 43%;
  bottom: 70%;
  resize: both;
  height: 12%;
}

.slide-1 .images .lightning3.ng-enter {
  -webkit-transition: 1s;
  transition: 1s;
  transition-delay: 1s;
  height: 0%;
  left: 45%;
  bottom: 66%;
}
.slide-1 .images .lightning3.ng-enter-active {
  height: 12%;
  left: 43%;
  bottom: 70%;
}
.slide-1 .images .lightning3.ng-leave {
  -webkit-transition: 1s;
  transition: 1s;
  height: 12%;
  left: 43%;
  bottom: 70%;
}
.slide-1 .images .lightning3.ng-leave-active {
  height: 0%;
  left: 45%;
  bottom: 66%;
}

/* images slide-2 */
.slide-2 .images .knight_set {
  position: absolute;
  left: 0;
  bottom: 0;
  resize: both;
  height: 80%;
}

.slide-2 .images .knight_set.ng-enter {
  -webkit-transition: 1s;
  transition: 1s;
  transition-delay: 1s;
  left: -100%;
}
.slide-2 .images .knight_set.ng-enter-active {
  left: 0;
}
.slide-2 .images .knight_set.ng-leave {
  -webkit-transition: 1s;
  transition: 1s;
  left: 0;
}
.slide-2 .images .knight_set.ng-leave-active {
  left: -100%;
}

.slide-2 .images .ballon_knight {
  position: absolute;
  left: 27%;
  bottom: 62%;
  resize: both;
  height: 10%;
  width: 19%;
}

.slide-2 .images .ballon_knight.ng-enter {
  -webkit-transition: 1s;
  transition: 1s;
  transition-delay: 1s;
  width: 0%;
}
.slide-2 .images .ballon_knight.ng-enter-active {
  width: 19%;
}
.slide-2 .images .ballon_knight.ng-leave {
  -webkit-transition: 1s;
  transition: 1s;
  width: 20%;
}
.slide-2 .images .ballon_knight.ng-leave-active {
  width: 0%;
}

/* images slide-3 */
.slide-3 .images .prize_coin,
.slide-3 .images .prize_pipe {
  position: absolute;
  left: 0;
  right: 34%;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 24%;
}

.slide-3 .images .prize_coin.ng-enter {
  -webkit-transition: 1s;
  transition: 1s;
  transition-delay: 1.5s;
  bottom: -100%;
}
.slide-3 .images .prize_coin.ng-enter-active {
  bottom: 0;
}
.slide-3 .images .prize_coin.ng-leave {
  -webkit-transition: 1s;
  transition: 1s;
  bottom: 0;
}
.slide-3 .images .prize_coin.ng-leave-active {
  bottom: -100%;
}

.slide-3 .images .prize_pipe.ng-enter {
  -webkit-transition: 1s;
  transition: 1s;
  bottom: -100%;
}
.slide-3 .images .prize_pipe.ng-enter-active {
  bottom: 0;
}
.slide-3 .images .prize_pipe.ng-leave {
  -webkit-transition: 1s;
  transition: 1s;
  bottom: 0;
}
.slide-3 .images .prize_pipe.ng-leave-active {
  bottom: -100%;
}

/* clock */
.clock {
  position: absolute;
  margin-left: -5%;
  margin-top: 1%;
  -webkit-animation: moveclock 2s linear infinite;
	-moz-animation: moveclock 2s linear infinite;
  -o-animation: moveclock 2s linear infinite;
}

@-webkit-keyframes moveclock {
  0% {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  50% {
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    transform: rotate(40deg);
  }
	100% {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    transform: rotate(20deg);
  }
}

/* ranking */
.ranking {
  position: absolute;
  height: 590px;
  right: 0;  
  top: -6%;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  background-color: white;
}

.ranking .container {
  padding-bottom: 4%;
  margin-top: 10%;
  margin-left: 10%;
  color: white;
  background-color: rgb(0, 168, 231);
}

.ranking .container p {
  text-align: right;
  padding: 5%;
  margin-bottom: 3%;
  font-size: 30px;
  font-weight: 800;
}

.ranking .container .contestant {
  height: 27px;
  margin: 1.5% 5%;
  padding: 1% 2%;
  font-size: 24px;
  background-color: rgb(38, 182, 235);  
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
}

.ranking .container .winners .contestant:first-child {
  background-color: rgb(35, 213, 125);
}

.ranking .container .winners .contestant {
  background-color: rgb(23, 200, 158);  
}

.ranking .container .winners .contestant:last-child {
  background-color: rgb(14, 188, 189);  
}

.ranking .container .contestant.score {
  background-color: rgb(0, 168, 231)
}

.ranking .container .contestant div {
  display: inline-block;
  width: 80%;
}

.ranking .container .contestant span:first-child {  
  overflow: hidden;
  width: 70%;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ranking .container .contestant span:last-child {
  float: right;
}

.ranking .container img {
  display: block;
  margin: auto;
  padding: 1%;
}

.rest .contestant {
  opacity: 1;
}
.rest .contestant.ng-enter {
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
}
.rest .contestant.ng-enter-active {
  opacity: 1;
}
